:root {
    --main-font-color: rgb(223, 223, 223);
    --main-background-color: rgb(34, 34, 34);
    --main-important-color: orange;
    --card-color: black;
    --misc-color: blue;
}
body {
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    font-family: "Lucida Console", Courier, monospace;
}
a {
    color: var(--card-color);
    font-size: 0;
}

.card {
    width: 500px;
    height: 280px;
    background-color: var(--card-color);
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.card-image {
    width: 130px;
}
.card-image img {
    width: 100%;
}
.card-content {
    width: 350px;
    float: right;
}
h2 {
    margin: 0px 0px 15px 0px;
}
ul {
    margin: 5px 0px 0px 15px;
    padding: 0;
}
.uhname {
    color: var(--main-important-color);
}
.card-content-text {
    margin-top: 5px;
}
.card-extra > div {
    margin-top: 10px;
}
.card-extra-buttons {
    margin:auto;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
svg {
    width: 40px;
    height: 40px;
    stroke: var(--main-important-color);
}
svg:hover {
    cursor: pointer;
    stroke: var(--card-color);
    fill: var(--main-important-color);
}