:root {
    --font-color: rgb(223, 223, 223);
    --important-color: orange;
    --background-color: #181818;
}
body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: "Lucida Console", Courier, monospace;
    font-size: 1em;
    margin: 0;
}
h1, h2 {
    font-size: 1.4em;
}
a, strong {
    color: var(--important-color);
    text-decoration: none;
    font-weight: bold;
}
svg {
    margin: 0 5px 5px 0;
    width: 45px;
    height: 45px;
    stroke: var(--important-color);
}
svg:hover {
    cursor: pointer;
    stroke: var(--background-color);
    fill: var(--important-color);
}
.container {
    max-width: 565px;
    min-width: 300px;
    position: relative;
    margin: auto;
}
.image-container {
    position: relative;
    font-size: 0;
}
.image-container > img {
    width: 100%;
}
.info-container {
    margin: 10px;
}
.contact-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

